<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pure Local</title>

  <meta name="viewport" value="width=device-width, initial-scale=1, maximum-scale=1;" />


  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:700|Pacifico|PT Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/normalize.css" />
  <link rel="stylesheet" href="/stylesheets/foundation.css" />
  <link rel="stylesheet" href="/stylesheets/general_enclosed_foundicons.css" />
  <link rel="stylesheet" href="/stylesheets/app.css" />

  <link rel="icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <link rel="apple-touch-icon" href="https://y7v4p6k4.ssl.hwcdn.net/51e088cb308929c46c000051/thumbnail-starter.png">
  <script type="text/javascript" src="js/webflow.js" defer></script>

  <script type="text/javascript" src="/javascripts/vendor/jquery.js"></script>
</head>
<body>
  <header>
    <nav class="row">
      <div class="large-2 columns logo">
        <a href="/">
          <img src="/images/PureLocal_logo.png" alt="PureLocal" />
        </a>
      </div>

      <div class="large-10 columns actions">
        <ul class="inline-list right">
          <li>
            <form action="" class="hide-for-small">
              <input type="text" placeholder="Search by company, category, or product" />
            </form>
          </li>
          <li><a href="my-profile" class="small button">My Profile</a></li>
        </ul>
      </div>
    </nav>

  </header>

  <%= yield %>

  <footer>
    <div class="row">
      <div class="small-12 large-4 columns text-left">
        <p>
          &copy; Copyright 2013 Pure Local
        </p>
      </div>

      <div class="small-12 large-4 columns text-right">
        <p>
          <a href="http://facebook.com/thepurelocal" target="_blank">[Facebook]</a>
          <a href="http://twitter.com/thepurelocal" target="_blank">[Twitter]</a>
        </p>
      </div>
    </div>
  </footer>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-44240656-1', 'purelocal.co');
    ga('send', 'pageview');
  </script>
  <script type="text/javascript">
    $(function () {
      $('#learn').click(function (evt) {
        $("html, body").animate({ scrollTop: $('.extraDetails').offset().top }, 1000);

        evt.preventDefault();
        return false;
      });
    });
  </script>

  <script type="text/javascript" src="/javascripts/foundation.min.js"></script>
  <script type="text/javascript" src="/javascripts/foundation/foundation.dropdown.js"></script>

  <script type="text/javascript">
    $(document).foundation();
  </script>

</body>
</html>

