<div class="section hero">
    <div class="container">
      <div class="row">
        <div class="column column-6 center">
          <img class="hero-image" src="/images/sassafras-logo.png" alt="sassafras-logo.png">
        </div>
        <div class="column column-6 hero-columnumn">
          <h1>Sassafras</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="section bulk-content">
    <div class="container">
      <h2 class="content-heading hero-tagline">EVERYDAY FASHION MADE IN THE PNW</h2>
      <div class="row content-row">
        <div class="column column-9">
          <p>Sassafras celebrates excellence in fashion design in the Pacific Northwest, and you might even find some of your favorite designers sewing and designing on site from time to time. You might also sometimes find some vintage goodies from local
            vintage vendors, and their items can also be altered in the shop.
            <br>
            <br>Our mission is to promote high-quality local designs while offering clothing that fits Seattle style. Stop by for fun, well-made clothing that fits most bodies! For events and news, check out our Facebook page!</p>
        </div>
        <div class="column column-3 clearfix">
          <img class="map" src="/images/map.png" alt="map.png">
          <img class="icon-image" src="/images/location.png" height="40" alt="location.png">
          <p class="company-location"><b>2307 1st Ave<br></b>Seattle, WA 98121</p>
          <p class="company-details">· 1.206.420.7057
            <br>· <strong>sassafras-seattle.com</strong>
          </p>
          <p class="company-hours">Today 7:00 am – 11:00 pm</p>
        </div>
      </div>
      <div class="row content-row">
        <div class="column column-6"></div>
        <div class="column column-6"></div>
      </div>
      <h2 class="content-heading">Connections</h2>
      <div class="row content-row">
        <div class="column column-3">
          <img class="product-image" src="/images/bajasoul-1.jpg" height="150" alt="bajasoul-1.jpg">
          <h4 class="connection-heading">Baja Soul</h4>
          <p class="connection-location">Pomeroy, Washington</p>
          <p class="connection-tagline">Simple. Utilitarian. Versatile. Ever-evolving apparel</p>
        </div>
        <div class="column column-3">
          <img class="product-image" src="/images/carolynhart-1.jpg" height="150" alt="carolynhart-1.jpg">
          <h4 class="connection-heading">Carolyn Hart</h4>
          <p class="connection-location" style="background-image: none; background-position: 0% 0%; background-repeat: repeat repeat;">Seattle, Washington</p>
          <p class="connection-tagline">I infuse classic lines with a splash of edginess, resulting in women’s wear that will never feel old.</p>
        </div>
        <div class="column column-3">
          <img class="product-image" src="/images/alysonclair-1.jpg" height="150" alt="alysonclair-1.jpg">
          <h4 class="connection-heading" style="background-image: none; background-position: 0% 0%; background-repeat: repeat repeat;">Alyson Clair</h4>
          <p class="connection-location" style="background-image: none; background-position: 0% 0%; background-repeat: repeat repeat;">Seattle, Washington</p>
          <p class="connection-tagline" style="background-image: none; background-position: 0% 0%; background-repeat: repeat repeat;">My pieces are made for womanly bodies–from curvy to skinny–with an emphasis on fit.</p>
        </div>
        <div class="column column-3">
          <img class="product-image" src="/images/hubris-1.jpg" height="150" alt="hubris-1.jpg">
          <h4 class="connection-heading" style="background-image: none; background-position: 0% 0%; background-repeat: repeat repeat;">Hubris Apparel</h4>
          <p class="connection-location" style="background-image: none; background-position: 0% 0%; background-repeat: repeat repeat;">Seattle, Washington</p>
          <p class="connection-tagline" style="background-image: none; background-position: 0% 0%; background-repeat: repeat repeat;">We're all about easy clothing for busy lives. It is inspired by real life, and the wardrobe you need to go with it.</p>
        </div>
      </div>
    </div>
  </div>
