<div class="row">
  <div class="large-12 columns">
    <h1>Results for "Jewelry"</h1>
  </div>
  <div class="large-12 columns">
    <a href="#" class="small button">Filter these results...</a>

    <form action="#" class="custom" style="display: none;">
      <div class="row">
        <div class="large-2 columns">
          <label for="filterby" class="right inline">Filter by:</label>
        </div>
        <div class="large-2 columns">
          <select id="filter-category" name="filter-category" class="medium">
            <option value="category">Category</option>
            <option value="size">Business Size</option>
            <option value="distance">Proximity in miles</option>
          </select>
        </div>
        <div class="large-5 columns">
          <input type="text" />
        </div>
        <div class="large-3 columns">
          <input type="submit" class="small button" value="Apply filter" />
        </div>
      </div>
    </form>

    <ul id="appliedFilters"></ul>
  </div>

  <div id="results">

  </div>
</div>
