  <div id="main-details">
    <div class="row">
      <h1 class="text-center">Cut the cold calls<br /> Connect with local companies today</h1>
    </div>

    <div class="row">
      <form action="#">
        <div class="large-10 columns">
          <input type="search" placeholder="Search by company, category, or product" class="large"/>
        </div>
        <div class="large-2 columns">
          <a href="#" class="button prefix">Search</a>
        </div>
      </form>
    </div>

    <div class="learnMore hide-for-small">
      <div class="row">
        <div class="small-12 large-centered columns text-center">
          <a href="#" class="button" id="learn">Come see what we mean </a>
        </div>
      </div>
    </div>

  </div>

  <div class="row extraDetails">
    <div class="small-12 large-centered columns text-center">
      <h1>PureLocal enables local business owners to connect</h1>
    </div>

    <div class="row">
      <div class="small-12 large-4 columns blurb">
        <p class="text-center icon"><i class="foundicon-search"></i></p>
        <h3>Find Partners</h3>
        <p>
        Our directory brings you meaningful points of contact for
        your future partners.
        </p>
      </div>

      <div class="small-12 large-4 columns blurb">
        <p class="text-center icon"><i class="foundicon-mic"></i></p>
        <h3>Be Found</h3>
        <p>
          Add details, categories, and tasks to tell your story and
          help local partners find you.
        </p>
      </div>

      <div class="small-12 large-4 columns blurb">
        <p class="text-center icon"><i class="foundicon-smiley"></i></p>
        <h3>Skip The Frustation. Get Connected</h3>
        <p>
          Save time and money expanding your local business network.
        </p>
      </div>
    </div>

    <div class="row text-center signup">
      <div class="small-4 small-centered columns">
        <h3>Sound good so far?</h3>
        <form action="http://startupweekend.us7.list-manage.com/subscribe/post?u=e37060187aa22295fe174cc84&amp;id=ecca240f90" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate="" class="signup-form">

          <div class="mc-field-group">
            <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Your email address">
          </div>
          <div>
            <input type="submit" value="Tell me more" name="subscribe" id="mc-embedded-subscribe" class="prefix button">
          </div>
        </form>

      </div>

    </div>

  </div>

